.service-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.service-carousel .track {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap; /* Impede que os itens quebrem para uma nova linha */
    transition: transform 0.5s ease-in-out;
    margin-bottom: 50px;
}

.service-carousel .service-card {
    flex: 0 0 auto; /* Garante que cada card mantenha seu tamanho */
    width: 410px; /* Ajuste conforme o tamanho desejado */
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.carousel-indicators .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
    background-color: #ff6600; /* Cor ativa */
}
