.-services {
    background-image: url(../../assets/img/services-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 116px;
}

.-services .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.-services .title .main-text {
    width: 640px;
    line-height: 26px;
}

