.service-carousel {
    width: 100%;
    overflow: hidden;
}

.service-carousel .track {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 2220px;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 50px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}

.carousel-indicators .indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
    background-color: #ff6600; /* Cor ativa */
}
